/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
@import url('reset.css');
/* elevation */
@import url('elevation.css');

/* root style */
:root {
    /* body */
    --body: #121212;
    --surface: #1D1D1D;
    /* levels */
    --dp00: rgba(255,255,255,0);
    --dp01: rgba(255,255,255,0.05);
    --dp02: rgba(255,255,255,0.07);
    --dp03: rgba(255,255,255,0.08);
    --dp04: rgba(255,255,255,0.09);
    --dp06: rgba(255,255,255,0.11);
    --dp08: rgba(255,255,255,0.12);
    --dp12: rgba(255,255,255,0.14);
    --dp16: rgba(255,255,255,0.15);
    --dp24: rgba(255,255,255,0.16);
}

body {
    background-color: var(--body);
}